
.lyon_backend_theme_dark_mode.o_web_client{
    background-color: #191c24;
}
body.lyon_backend_theme_dark_mode{
    color: #cdcdce;
    .o_main_navbar{background: #242733;border-bottom: 1px solid #3C3F4C;}
    .bg-light{background: #191c24 !important;}
    .bg-100 {background-color: #191c24 !important;color: #FFF !important;}
    .bg-200 {background-color: #242733 !important;color: #FFF;}
    .text-dark {
        color: #EAEAEA !important;
    }
    a.bg-200:hover, a.bg-200:focus, button.bg-200:hover, button.bg-200:focus {
        background-color: #0f1015 !important;
        color: #FFF;
    }
    a.text-dark:hover, a.text-dark:focus, button.text-dark:hover, button.text-dark:focus {
        color: #848484 !important;
    }
    .btn-check:focus + .btn, .btn:focus{
        box-shadow: 0 0 0 0.25rem rgba(60, 63, 76, 0.25);
    }
    .text-700 {
        color: #AFAFB5 !important;
    }
    .border-end {
        border-right: 1px solid #3C3F4C !important;
    }
    .bg-view{
        background-color: #242733 !important;
        color: rgba(255, 255, 255, 0.7);
    }
    .bg-100 .text-muted, .bg-100 .o_bank_rec_auto_balance_line, 
    .bg-100 .o_ma_text_error, 
    .bg-100 .o_account_reports_page .o_account_reports_ja_name_muted > td:first-of-type, 
    .o_account_reports_page .bg-100 .o_account_reports_ja_name_muted > td:first-of-type, 
    .o_colored_level .bg-100 .text-muted, .o_colored_level .bg-100 .o_bank_rec_auto_balance_line, 
    .o_colored_level .bg-100 .o_ma_text_error, 
    .o_colored_level .bg-100 .o_account_reports_page .o_account_reports_ja_name_muted > td:first-of-type, 
    .o_account_reports_page .o_colored_level .bg-100 .o_account_reports_ja_name_muted > td:first-of-type{
        color: rgba(205, 205, 206, 0.76) !important;
    }
    .border-light {
        border-color: #191c24 !important;
    }
    .border-bottom {
        border-bottom: 1px solid #3C3F4C !important;
    }
    .btn-secondary:disabled, .o_bank_rec_widget_form_suggest_button:disabled, 
    .btn-secondary.disabled, .disabled.o_bank_rec_widget_form_suggest_button{
        color: #FFF;
        background-color: #242733;
        border-color: #242733;
    }
    .btn-secondary.disabled, .disabled.o_bank_rec_widget_form_suggest_button, 
    .btn-secondary:disabled, .o_bank_rec_widget_form_suggest_button:disabled{
        color: #737586;
    }
    .o_main_navbar .o_menu_systray > * > a .badge, 
    .o_main_navbar .o_menu_systray > * > .dropdown > a .badge, 
    .o_main_navbar .o_menu_systray > * > button .badge, 
    .o_main_navbar .o_menu_systray > * > label .badge{
        background-color: #00dac5;
        color: #000;
        text-shadow: none;
    }
    .border-top {
        border-top: 1px solid #3C3F4C !important;
    }
    .btn-fill-primary, .btn-primary, .btn-primary{
        color: #000;
        background-color: #00DAC5;
        border-color: #00DAC5;
    }
    .bg-info-light{
        background-color: rgba(106, 181, 251, 0.5) !important;
    }
    .o_MessageActionList{
        background-color: #191c24;
    }
    .o_MessageActionView:hover {
        background-color: #3c3f4c;
    }
    a {
        color: #00DAC5;
    }
    .bg-success-light{
        background-color: rgba(106, 251, 129, 0.5) !important;
    }
    .form-control{
        background-color: transparent;
        color: #CDCDCE;
    }
    .form-control:focus, 
    .form-control::placeholder{        
        color: #CDCDCE;
    }
    .border {
        border: 1px solid #3C3F4C !important;
    }
    .btn-light, .o_form_view .o_statusbar_status .o_arrow_button:not(.disabled), .o_form_view .o_statusbar_status .o_arrow_button:not(.disabled), .o_legacy_form_view .o_statusbar_status .o_arrow_button:not(.disabled){
        background-color: #242733;
    }
    .btn-outline-secondary, .journal_item_matching_button, .o_account_reports_page .oe_link_reports, .btn-light, .o_form_view .o_statusbar_status .o_arrow_button:not(.disabled), .o_legacy_form_view .o_statusbar_status .o_arrow_button:not(.disabled) {
        color: #CDCDCE;
    }
    .o_ThreadViewTopbar_button:not(.o-isActive):hover {
        background-color: #3C3F4C;
    }
    .dropdown-menu, .o-dropdown-menu{
        background-color: #3C3F4C;
        color: #CDCDCE;
        border: 1px solid #3C3F4C;
    }
    .dropdown-item:hover, .dropdown-item-studio:hover, .dropdown-item:focus, .dropdown-item-studio:focus {
        color: #EAEAEA;
        background-color: rgba(255, 255, 255, 0.08);
    }
    .dropdown-item, .dropdown-item-studio{
        color: #CDCDCE;
    }
    ::-webkit-scrollbar-thumb{
        background-color: #686868;
    }
    ::-webkit-scrollbar-track{
        background-color: #424242;
    }
    ::-webkit-scrollbar{
        width: 10px;
    }
    .dropdown-divider{
        border-top: 1px solid #242733;
    }
    // .form-check-input[type="checkbox"]{
    //     border-radius: 2em;
    // }
    .form-switch .form-check-input{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 0.5%29'/%3e%3c/svg%3e");
        border-radius: 2em;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.25);
    }
    .btn-light, .o_legacy_form_view .o_statusbar_status .o_arrow_button:not(.disabled), .o_form_view .o_statusbar_status .o_arrow_button:not(.disabled){
        background-color: #242733;
        border-color: #242733;
    }
    .btn-fill-light:hover, .btn-light:hover, .o_legacy_form_view .o_statusbar_status .o_arrow_button:hover:not(.disabled), .o_form_view .o_statusbar_status .o_arrow_button:hover:not(.disabled) {
        color: #EAEAEA;
        background-color: #15181f;
        border-color: #171920;
    }
    .btn-link{
        color: #00DAC5;
    }
    .o_NotificationListItem{
        background-color: #242733;
    }
    .text-600 {
        color: #CDCDCE !important;
    }
    .o_NotificationListItem:hover {
        background-color: #15171e;
    }
    .o_ActivityMenuView_activityGroup{
        color: #CDCDCE;
    }
    .o_ActivityMenuView_activityGroup:hover{
        background-color: #191c24;
    }
    .o_ActivityMenuView_activityGroup:hover .o_ActivityMenuView_activityGroupName{
        color: #EAEAEA;
    }
    .text-muted, .o_account_reports_page .o_account_reports_ja_name_muted > td:first-of-type, .o_ma_text_error, .o_bank_rec_auto_balance_line{
        color: rgba(205, 205, 206, 0.76) !important;
    }
    .o_ActivityMenuView_activityGroup:not(:last-child) {
        border-bottom: 1px solid #595E6D;
    }
    .alert-primary {
        color: #e6fbf9;
        background-color: #003731;
        border-color: #00dac5;
    }
    .text-900 {
        color: #EAEAEA !important;
    }
    .text-primary, .o_ma_text_processed {
        color: #00DAC5 !important;
    }

    .o_web_client{
        background-color: #191c24;
    }
    .o_control_panel{
        background-color: #242733;
    }
    .breadcrumb{
        background-color: #242733;
    }
    .o_searchview .o_searchview_input{
        background-color: transparent;
        color: #fff;
    }
    .o_calendar_renderer{
        background: linear-gradient(-45deg, #191c24, #242733);
    }
    .o_calendar_renderer .o_calendar_widget .fc-timeGridDay-view div.fc-day-grid, .o_calendar_renderer .o_calendar_widget .fc-timeGridWeek-view div.fc-day-grid{
        background-color: #242733;
        border-left-color: rgba(187, 134, 252, 0.3);
        border-right-color: rgba(187, 134, 252, 0.3);
    }
    .o_calendar_renderer .o_calendar_widget .fc-timeGridDay-view .fc-day.fc-widget-content.fc-today:not(.o_calendar_disabled), .o_calendar_renderer .o_calendar_widget .fc-timeGridWeek-view .fc-day.fc-widget-content.fc-today:not(.o_calendar_disabled) {
        border-left-color: rgba(187, 134, 252, 0.3);
        border-right-color: rgba(187, 134, 252, 0.3);
        background: #242733;
    }
    .o_calendar_renderer .o_calendar_widget td {
        border-color: rgb(60, 63, 76);
    }
    .o_calendar_renderer .o_calendar_widget .fc-timeGridDay-view tbody td, .o_calendar_renderer .o_calendar_widget .fc-timeGridWeek-view tbody td {
        border-top-color: rgb(89, 94, 109);
    }
    .o_calendar_renderer .fc-event.o_calendar_color_9.o_attendee_status_alone, .o_calendar_renderer .fc-event.o_calendar_color_9.o_attendee_status_needsAction {
        background-color: rgba(36, 39, 51, 0.9) !important;
        color: #FFF !important;
    }
    .o_calendar_renderer .fc-event.o_calendar_color_9.o_attendee_status_alone .fc-bg, .o_calendar_renderer .fc-event.o_calendar_color_9.o_attendee_status_needsAction .fc-bg {
        background-color: rgba(36, 39, 51, 0.9) !important;
    }
    .o_calendar_renderer .o_calendar_widget .fc-timeGridDay-view .fc-widget-header.fc-today, .o_calendar_renderer .o_calendar_widget .fc-timeGridWeek-view .fc-widget-header.fc-today{
        background: #BB86FC;
    }
    .o_calendar_sidebar_container{
        background-color: #242733;
        border-left: 1px solid #3C3F4C;
    }
    .o_calendar_sidebar_container .ui-datepicker{
        background-color: #242733;
    }
    .o_calendar_sidebar_container .ui-datepicker td a, .o_calendar_sidebar_container .ui-datepicker td span{
        color: #EAEAEA;
    }
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, .o_kanban_dashboard:not(.o_legacy_kanban_view) .o_kanban_record > div .o_kanban_card_manage_pane.container div[class*="col-"] > .o_kanban_card_manage_title, .o_kanban_dashboard:not(.o_legacy_kanban_view) .o_kanban_record > div .o_kanban_card_manage_pane.o_container_small div[class*="col-"] > .o_kanban_card_manage_title, .o_legacy_kanban_view.o_kanban_dashboard .o_kanban_record .o_kanban_card_manage_pane.container div[class*="col-"] > .o_kanban_card_manage_title, .o_legacy_kanban_view.o_kanban_dashboard .o_kanban_record .o_kanban_card_manage_pane.o_container_small div[class*="col-"] > .o_kanban_card_manage_title, h6, .h6{
        color: #EAEAEA;
    }
    .o_input{
        background-color: transparent;
        border: 1px solid #ffffff;
        border-width: 0 0 1px 0;
        color: #EAEAEA;
    }
    .ui-widget.ui-autocomplete .ui-menu-item > a{
        color: #CDCDCE;
    }
    .ui-widget.ui-autocomplete .ui-menu-item > a.ui-state-active{
        color: #EAEAEA;
    }
    .modal-content{
        background-color: #242733;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .modal-header{
        border-bottom: 1px solid #3C3F4C;
    }
    .o_list_renderer .o_list_table{
        background-color: #242733;
    }
    .o_list_renderer .o_list_table thead {
        background-color: #242733;
        color: #EAEAEA;
    }
    .o_list_renderer .o_list_table thead {
        background-color: #242733;
        color: #EAEAEA;
    }
    .table{
        color: #CDCDCE;
        border-color: #3C3F4C;
    }
    .table-hover > tbody > tr:hover > *{
        color: #CDCDCE;
    }
    .table-active{
        color: #eaeaea;
    }
    .modal-footer{
        border-top: 1px solid #3C3F4C;
    }
    .o_control_panel{
        border-bottom: 1px solid #3C3F4C;
    }
    .o_list_renderer .o_list_table tfoot{
        border-top: 1px solid #3C3F4C;
        border-bottom: 1px solid #3C3F4C;
    }
    .o_searchview_facet .o_searchview_facet_label {
        background: #ffffff !important;
        color: #000;
    }
    .o_searchview_facet .o_facet_values{
        border: 1px solid #fff !important;
    }
    .o_tag.o_tag_color_0 {
        background-color: #242733;
        color: #f18585;
    }
    .btn-secondary {
        color: #00DAC5;
        background-color: #242733;
        border-color: #242733;
    }
    .o_calendar_renderer .fc-event.o_calendar_color_3.o_attendee_status_alone, .o_calendar_renderer .fc-event.o_calendar_color_3.o_attendee_status_needsAction {
        background-color: rgba(36, 39, 51, 0.9) !important;
        color: #FFF !important;
    }
    .o_calendar_renderer .fc-event.o_calendar_color_3.o_attendee_status_alone .fc-bg, .o_calendar_renderer .fc-event.o_calendar_color_3.o_attendee_status_needsAction .fc-bg {
        background-color: rgba(36, 39, 51, 0.9) !important;
    }
    .o_calendar_renderer .fc-event.o_calendar_color_7.o_attendee_status_alone .fc-bg, .o_calendar_renderer .fc-event.o_calendar_color_7.o_attendee_status_needsAction .fc-bg {
        background-color: rgba(36, 39, 51, 0.9) !important;
    }
    .o_calendar_renderer .o_calendar_widget .fc-dayGridMonth-view .fc-bg .fc-today {
        border-color: #3C3F4C;
    }
    .o_calendar_renderer .o_calendar_widget .fc-dayGridMonth-view .fc-bg .fc-today:not(.o_calendar_disabled) {
        background: #242733;
    }
    .o_calendar_renderer .fc-event.o_calendar_color_7.o_attendee_status_alone, .o_calendar_renderer .fc-event.o_calendar_color_7.o_attendee_status_needsAction {
        background-color: rgba(36, 39, 51, 0.9) !important;
        color: #fff !important;
    }
    .o_calendar_renderer .o_calendar_widget .fc-dayGridMonth-view .fc-day-number{
        color: #EAEAEA;
    }
    .o_calendar_renderer .o_calendar_widget .fc-dayGridYear-view > .fc-month-container > .fc-month > .fc-toolbar.fc-header-toolbar h2, .o_calendar_renderer .o_calendar_widget .fc-dayGridYear-view > .fc-month-container > .fc-month > .fc-toolbar.fc-header-toolbar .h2{
        color: #91939D;
    }
    .o_calendar_renderer .o_calendar_widget .fc-dayGridYear-view:not(.fc-readonly-year-view) .fc-day-top:hover > .fc-day-number{
        background-color: rgba(135, 192, 209, 0.5);
        color: #EAEAEA;
    }
    .o_form_view .o_form_sheet_bg{
        background-color: #191c24;
        border-bottom: 1px solid #3C3F4C;
    }
    @media (min-width: 576px){
        .o_form_view .o_form_sheet_bg > .o_form_sheet{border: 1px solid #3C3F4C;}
    }
    @media (min-width: 768px){
        .o_searchview{
            border-bottom: 1px solid #3C3F4C;
        }        
    }
    .o_form_view .o_form_sheet_bg > .o_form_sheet{
        background-color: #242733;
    }
    .o_notebook .nav{
        background-color: #242733;
    }
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        color: #EAEAEA;
        background-color: transparent;
        border-color: #3C3F4C #3C3F4C transparent;
    }
    .o_notebook .nav-link.active, .o_notebook .nav-link.active:hover, .o_notebook .nav-link.active:focus, .o_notebook .nav-link.active:active {
        border-color: #3c3f4c;
        border-top-color: #bb86fc;
        border-bottom-color: #242733;
    }
    .nav-tabs{
        border-bottom: 1px solid #3C3F4C;
    }
    .nav-link{
        color: #CDCDCE;
    }
    .o_notebook .nav-link:hover {
        border-color: #3c3f4c;
    }
    .nav-link:hover, .nav-link:focus {
        color: #66e9dc;
    }
    .o_input {
        border: 1px solid transparent;
        border-width: 0 0 1px 0;
    }
    .o_field_widget input, .o_field_widget textarea {
        color: inherit;
    }
    .o_form_view .oe_title {
        color: #cecece;
    }
    .btn-fill-odoo, .btn-odoo{
        color: #000;
        background-color: #BB86FC;
        border-color: #BB86FC;
    }
    .o_form_view {
        background-color: #242733;
    }
    .border-start {
        border-left: 1px solid #3C3F4C !important;
    }
    .btn-outline-primary {
        color: #00DAC5;
        border-color: #00DAC5;
    }
    .btn-outline-primary:hover {
        color: #000;
        background-color: #00DAC5;
        border-color: #00DAC5;
    }
    .o_kanban_renderer .o_kanban_record > div, .o_kanban_renderer .o_kanban_quick_create {
        border: 1px solid #3C3F4C;
        background-color: #242733;
    }
    .o_kanban_renderer .o_kanban_record .o_kanban_record_title{
        color: #EAEAEA;
    }
    .o_kanban_renderer .oe_kanban_card:focus.oe_kanban_global_click, .o_kanban_renderer .oe_kanban_card:focus.oe_kanban_global_click_edit, .o_kanban_renderer .oe_kanban_card:focus .oe_kanban_global_click, .o_kanban_renderer .oe_kanban_card:focus .oe_kanban_global_click_edit, .o_kanban_renderer .oe_kanban_card:focus-within.oe_kanban_global_click, .o_kanban_renderer .oe_kanban_card:focus-within.oe_kanban_global_click_edit, .o_kanban_renderer .oe_kanban_card:focus-within .oe_kanban_global_click, .o_kanban_renderer .oe_kanban_card:focus-within .oe_kanban_global_click_edit, .o_kanban_renderer .o_kanban_record:focus.oe_kanban_global_click, .o_kanban_renderer .o_kanban_record:focus.oe_kanban_global_click_edit, .o_kanban_renderer .o_kanban_record:focus .oe_kanban_global_click, .o_kanban_renderer .o_kanban_record:focus .oe_kanban_global_click_edit, .o_kanban_renderer .o_kanban_record:focus-within.oe_kanban_global_click, .o_kanban_renderer .o_kanban_record:focus-within.oe_kanban_global_click_edit, .o_kanban_renderer .o_kanban_record:focus-within .oe_kanban_global_click, .o_kanban_renderer .o_kanban_record:focus-within .oe_kanban_global_click_edit{
        outline: thin solid #2d9c99;
    }
    .o_form_view:not(o_field_highlight) .o_field_html .note-editable:hover, .o_form_view:not(o_field_highlight) .o_field_html .note-editable:focus{
        border-color: #00dac5;
    }
    .o-form-buttonbox{
        box-shadow: inset 0 -1px 0 #3C3F4C;
    }
    .o-form-buttonbox.o_full > *:first-child{
        box-shadow: -1px 0 0 #3C3F4C;
    }
    .o-form-buttonbox .btn.oe_stat_button > .o_stat_info .o_stat_value, .o-form-buttonbox .btn.oe_stat_button > span .o_stat_value, .o-form-buttonbox .btn.oe_stat_button > .o_field_statinfo .o_stat_value {
        color: #BB86FC;
    }
    .o_form_view .o_form_uri{
        color: #00DAC5;
    }
    .o_list_renderer .o_list_table .o_list_record_remove button{
        color: #cecece;
    }
    .o_list_renderer .o_list_table .o_selected_row th:focus-within, .o_list_renderer .o_list_table .o_selected_row td:focus-within{
        background-color: #242733;
    }
    .table-info, .o_rec_widget_list_selected_item {
        --table-bg: #20364b;
        --table-striped-bg: #22384d;
        --table-striped-color: #FFF;
        --table-active-bg: #2b4054;
        --table-active-color: #FFF;
        --table-hover-bg: #2c4155;
        --table-hover-color: #FFF;
        color: #FFF;
        border-color: #364a5d;
    }
    .form-check-input{
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.25);
    }
    .form-check-input:checked {
        background-color: #00DAC5;
        border-color: #00DAC5;
    }
    .form-check-input[type="checkbox"]:checked {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23191c24' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    }
    .dropdown-item.active:not(.dropdown-item_active_noarrow):before, .dropdown-item.selected:not(.dropdown-item_active_noarrow):before{
        color: #00DAC5;
    }
    .o_field_highlight .o_field_widget .o_input, .o_field_highlight.o_field_widget .o_input {
        border-color: #00dac5;
    }
    .o_field_widget .o_input_dropdown .o_dropdown_button:after, .o_field_widget .o_input_dropdown .o_datepicker_button:after, .o_field_widget .o_datepicker .o_dropdown_button:after, .o_field_widget .o_datepicker .o_datepicker_button:after{
        border-top: 4px solid #00dac5;
    }
    .btn-outline-secondary, .o_account_reports_page .oe_link_reports, .journal_item_matching_button{
        color: #FFF;
        background-color: #242733;
        border-color: #242733;
    }
    .btn-outline-secondary, .o_account_reports_page .oe_link_reports, .journal_item_matching_button, .btn-light, .o_legacy_form_view .o_statusbar_status .o_arrow_button:not(.disabled), .o_form_view .o_statusbar_status .o_arrow_button:not(.disabled) {
        color: #CDCDCE;
    }
    .bg-300 {
        background-color: #3C3F4C !important;
        color: #ffffff;
    }
    .o_list_renderer .o_list_table tfoot{
        background-color: #242733;
    }
    .btn-link.btn-warning, .btn-link.text-warning, .o_activity_view .o_activity_summary_cell .o_activity_btn > .btn-link.badge.today, .o_mail_activity .btn-link.o_activity_color_today{
        color: rgba(205, 205, 206, 0.76) !important;
    }
    .breadcrumb-item.active {
        color: #CDCDCE;
    }
    .o_main_navbar .o_menu_brand:hover{
        background-color: transparent;
    }
    .btn-check:checked + .btn-light, .o_legacy_form_view .o_statusbar_status .btn-check:checked + .o_arrow_button:not(.disabled), .o_form_view .o_statusbar_status .btn-check:checked + .o_arrow_button:not(.disabled), .btn-check:active + .btn-light, .o_legacy_form_view .o_statusbar_status .btn-check:active + .o_arrow_button:not(.disabled), .o_form_view .o_statusbar_status .btn-check:active + .o_arrow_button:not(.disabled), .btn-light:active, .o_legacy_form_view .o_statusbar_status .o_arrow_button:active:not(.disabled), .o_form_view .o_statusbar_status .o_arrow_button:active:not(.disabled), .btn-light.active, .o_legacy_form_view .o_statusbar_status .active.o_arrow_button:not(.disabled), .o_form_view .o_statusbar_status .active.o_arrow_button:not(.disabled), .show > .btn-light.dropdown-toggle, .o_legacy_form_view .o_statusbar_status .show > .dropdown-toggle.o_arrow_button:not(.disabled), .o_form_view .o_statusbar_status .show > .dropdown-toggle.o_arrow_button:not(.disabled) {
        color: #FFF;
        background-color: #3C3F4C;
        border-color: #3C3F4C;
    }
    .btn-light:hover, .o_legacy_form_view .o_statusbar_status .o_arrow_button:hover:not(.disabled), .o_form_view .o_statusbar_status .o_arrow_button:hover:not(.disabled) {
        color: #FFF;
        background-color: #3C3F4C;
        border-color: #3C3F4C;
    }
    .o_pivot table .o_pivot_measure_row, .o_pivot table .o_pivot_origin_row, .o_pivot table .o_pivot_header_cell_closed, .o_pivot table .o_pivot_header_cell_opened {
        color: #CDCDCE;
    }
    .o_pivot table .o_pivot_measure_row:hover, .o_pivot table .o_pivot_origin_row:hover, .o_pivot table .o_pivot_header_cell_closed:hover, .o_pivot table .o_pivot_header_cell_opened:hover {
        background-color: #242733 !important;
    }
    .o_graph_renderer canvas {
        background-color: #242733;
    }
    .table > :not(:first-child) {
        border-top: 2px solid #3C3F4C;
    }
    .text-bg-odoo {
        color: #000 !important;
    }
    .o_kanban_dashboard:not(.o_legacy_kanban_view) .o_kanban_record > div .o_kanban_card_header + .container.o_kanban_card_content .o_kanban_primary_bottom.bottom_block, .o_kanban_dashboard:not(.o_legacy_kanban_view) .o_kanban_record > div .o_kanban_card_header + .o_kanban_card_content.o_container_small .o_kanban_primary_bottom.bottom_block{
        border-top: 1px solid #3C3F4C;
        background-color: #242733;
    }
    .o_kanban_dashboard:not(.o_legacy_kanban_view) .o_kanban_record > div .o_kanban_card_manage_pane.container div[class*="col-"] > div:not(.o_kanban_card_manage_title) > a, .o_kanban_dashboard:not(.o_legacy_kanban_view) .o_kanban_record > div .o_kanban_card_manage_pane.o_container_small div[class*="col-"] > div:not(.o_kanban_card_manage_title) > a{
        color: #CDCDCE;
    }
    .o_kanban_dashboard:not(.o_legacy_kanban_view) .o_kanban_record > div .o_kanban_manage_toggle_button{
        color: #CDCDCE;
    }
    .o_kanban_dashboard:not(.o_legacy_kanban_view) .o_kanban_record > div.o_dropdown_open .o_kanban_manage_toggle_button, .o_kanban_dashboard:not(.o_legacy_kanban_view) .o_kanban_record > div .o-dropdown.show .o_kanban_manage_toggle_button{
        background: #3C3F4C;
        border-color: #3C3F4C;
    }
    .o_kanban_dashboard:not(.o_legacy_kanban_view) .o_kanban_record > div .o_kanban_card_header_title .o_primary, .o_kanban_dashboard:not(.o_legacy_kanban_view) .o_kanban_record > div .o_kanban_primary_left .o_primary > span:first-child, .o_kanban_dashboard:not(.o_legacy_kanban_view) .o_kanban_record > div .oe_kanban_content > .o_title > h3, .o_kanban_dashboard:not(.o_legacy_kanban_view) .o_kanban_record > div .oe_kanban_content > .o_title > .h3{
        color: #EAEAEA;
    }
    .o_progressbar .o_progress{
        border: 1px solid #3C3F4C;
        background-color: #242733;
    }
    .text-bg-success{
        color: #000 !important;
        background-color: #6afb81 !important;
    }
    .text-bg-info{
        color: #000 !important;
        background-color: #6ab5fb !important;
    }
    .o_form_view .o_form_statusbar{
        background-color: #242733;
    }
    .o_field_statusbar > .o_statusbar_status > .o_arrow_button:last-child{
        border-left: 1px solid #3C3F4C;
    }
    .o_field_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):before, .o_field_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):after{
        border-left: 11px solid #242733;
    }
    .o_field_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):before{
        border-left-color: #3C3F4C !important;
    }
    .o_field_statusbar > .o_statusbar_status > .o_arrow_button.disabled:not(.o_arrow_button_current), .o_field_statusbar > .o_statusbar_status > .o_arrow_button.disabled:not(.o_arrow_button_current):hover, .o_field_statusbar > .o_statusbar_status > .o_arrow_button.disabled:not(.o_arrow_button_current):focus{
        color: rgba(205, 205, 206, 0.76);
    }
    .o_field_statusbar > .o_statusbar_status > .o_arrow_button.o_arrow_button_current.disabled {
        background-color: #BB86FC;
        color: #000;
    }
    .o_onboarding_main .o_onboarding_wrap{
        background-color: rgba(66,74,125,.50);
        background-image: linear-gradient(to bottom, rgba(66, 74, 125, .50), #333e6a);
    } 
    .bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover{
        background-color: #BB86FC;
    }
    .bootstrap-datetimepicker-widget .datepicker table thead tr:nth-child(2) th, .bootstrap-datetimepicker-widget .datepicker table td.cw{
        color: #EAEAEA;
        background-color: #0f1015;
    }
    .bootstrap-datetimepicker-widget .datepicker table th, .bootstrap-datetimepicker-widget .datepicker table td{
        color: #fff;
    }
    .bootstrap-datetimepicker-widget table td.day:hover, .bootstrap-datetimepicker-widget table td.hour:hover, .bootstrap-datetimepicker-widget table td.minute:hover, .bootstrap-datetimepicker-widget table td.second:hover{
        background-color: #3C3F4C;
        border-color: #3C3F4C;
    }
    table.o_section_and_note_list_view tr.o_data_row.o_is_line_section, div.oe_kanban_card.o_is_line_section{
        background-color: #242733;
    }
    .text-bg-primary {
        background-color: #00dac5 !important;
        color: #000 !important;
    }
    .badge.text-bg-default, .badge.bg-light, .badge.text-bg-light, .badge.bg-default, .badge.text-primary{
        outline: 1px solid #00DAC5;
    }
    .o_form_view .o_form_uri > span {
        color: #CDCDCE;
    }
    .o_form_view .o_form_uri > span:first-child {
        color: #00DAC5;
    }
    .list-group-item{
        color: #EAEAEA;
        background-color: #242733;
    }
    .o_spreadsheet_dashboard_search_panel li:hover:not(.active) {
        background-color: #191c24;
    }
    .list-group-item.active{
        color: #EAEAEA;
        background-color: rgba(105, 144, 252, 0.5);
    }
    .o_input:hover, .o_input:focus{
        border-color: #ccc;
    }
    .bg-white{
        background-color: #000 !important;
    }
    .btn-fill-info, .btn-info {
        color: #000;
        background-color: #6AB5FB;
        border-color: #6AB5FB;    
    }
    .text-odoo {
        color: #BB86FC !important;
    }
    .o_base_settings .o_setting_container .settings{
        background-color: #242733;
    }
    .o_base_settings .o_setting_container .settings > .app_settings_block h2, .o_base_settings .o_setting_container .settings > .app_settings_block .h2{
        background-color: #191c24;
    }
    .o_base_settings .o_setting_container .settings_tab{
        background: #191c24;
    }
    .o_base_settings .o_setting_container .settings_tab .selected {
        box-shadow: inset 2px 0 0 #00DAC5;
    }
    .o_base_settings .o_setting_container .settings .settingSearchHeader{
        background-color: #242733;
    }
    .form-check-input:checked[type="radio"] {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23191c24'/%3e%3c/svg%3e");
    }
    .o_navbar_apps_menu .dropdown-menu-custom{
        background: url("/lyon_backend_theme/static/src/img/sidebar-img.svg"), linear-gradient(to bottom, #000511, #000511);
        background-repeat: no-repeat;
        background-size: cover
    }    
// dark mode end
}

@media (max-width: 767.9px){
    body.lyon_backend_theme_dark_mode{
        .o_ChatWindowHeader{
            background-color: #191c24;
        }
        .o_burger_menu .o_burger_menu_topbar {
            background-color: #191c24;
        }
        .o_burger_menu .o_burger_menu_topbar .bg-view .o_burger_menu_username, .o_burger_menu .o_burger_menu_topbar .bg-view i {
            color: #CDCDCE !important;
        }
        .oe-toolbar.oe-floating{
            color: #cdcdce;
            background-color: #3c3f4c;
        }
        .oe-toolbar.oe-floating .btn, .oe-toolbar.oe-floating .colorpicker-group .o_we_colorpicker_switch_panel button, .oe-toolbar.oe-floating .dropdown-item{
            color: #cdcdce;
        }
        .o_burger_menu .o_burger_menu_content.o_burger_menu_dark {
            background-color: #0f1015;
        }
        .o_base_settings .o_setting_container .settings_tab::-webkit-scrollbar{
            height: 5px;
        }
        .o_control_panel .o_cp_searchview{
            flex-grow: 1;
        }
        
         .o_mobile_search .o_mobile_search_header{
            background-color: #191c24;
        }
         .o_mobile_search{
            background-color: #242733;
        }
         .o_mobile_search .o_mobile_search_content .o_searchview_input_container .o_searchview_input{
            background-color: transparent;
            border-bottom: 1px solid #8f8f8f;
        }
         .o_mobile_search .o_mobile_search_content .o_mobile_search_filter .dropdown:not(.show) {
            box-shadow: 0 0 0 1px #3C3F4C;
        }
        .modal.o_technical_modal.o_modal_full .modal-dialog .modal-content .modal-header{
            background: #242733;
        }        
    // responsive dark
    }
}