.o_main_navbar{
    .o_navbar_apps_menu{
        .dropdown-toggle{
            z-index: 1111;
            padding-left: 12px;
        }
    }
    .o_menu_systray{
        z-index: 1111;
    }
    .o_navbar_apps_menu.show{
        button i:before{
            content: "\f054";
        }
    }
}



.o_main_navbar{
    background: linear-gradient(45deg, #714B67, #5e4a59);
}
.btn-fill-primary, .btn-primary{
    background-color: #017e84;
    border-color: #017e84;
}
.btn-fill-primary:hover, .btn-primary:hover {
    color: #FFF;
    background-color: #016b70;
    border-color: #01656a;
}
.btn-check:focus + .btn-fill-primary, .btn-check:focus + .btn-primary, .btn-fill-primary:focus, .btn-primary:focus{
    background-color: #016b70;
    border-color: #01656a;
    box-shadow: 0 0 0 0.25rem rgba(39, 145, 150, 0.5);
}
.btn-fill-primary:disabled, .btn-primary:disabled, .btn-fill-primary.disabled, .disabled.btn-primary {
    background-color: #017e84;
    border-color: #017e84;
}
.o_calendar_renderer .o_calendar_widget .fc-timeGridDay-view .fc-widget-header.fc-today, .o_calendar_renderer .o_calendar_widget .fc-timeGridWeek-view .fc-widget-header.fc-today{
    background: #714B67;
}
.form-check-input[type="checkbox"]{
    border-radius: 0;
}
.form-check-input:checked{
    background-color: #017e84;
    border-color: #017e84;
}
.btn-secondary{
    color: #01666b;
}
.text-primary{
    color: #01666b !important;
}
a{
    color: #01666b;
}
a:hover {
    color: #01575b;
}
.o_kanban_view .o_res_partner_kanban .oe_kanban_action_a:hover > .badge{
    background-color: #017e84;
}
.o-form-buttonbox .btn.oe_stat_button > .o_stat_info .o_stat_value, .o-form-buttonbox .btn.oe_stat_button > span .o_stat_value, .o-form-buttonbox .btn.oe_stat_button > .o_field_statinfo .o_stat_value{
    color: #714B67;
}
.o_input:focus{
    border-bottom: 1px solid #01575b;
}
.nav-link{
    color: #4A4F59;
}
.o_notebook .nav-link.active, .o_notebook .nav-link.active:hover, .o_notebook .nav-link.active:focus, .o_notebook .nav-link.active:active{
    border-top-color: #714b67;
}
.nav-tabs .nav-link{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.btn{
    border-radius: 0;
}
.btn-fill-odoo, .btn-odoo{
    background-color: #714B67;
    border-color: #714B67;
}
.btn-fill-odoo:hover, .btn-odoo:hover{
    background-color: #604058;
    border-color: #5a3c52;
}
.btn-check:focus + .btn-fill-odoo, .btn-check:focus + .btn-odoo, .btn-fill-odoo:focus, .btn-odoo:focus{
    color: #FFFFFF;
    background-color: #604058;
    border-color: #5a3c52;
    box-shadow: 0 0 0 0.25rem rgba(134, 102, 126, 0.5);
}
.btn-light, .o_form_view .o_statusbar_status .o_arrow_button:not(.disabled), .o_legacy_form_view .o_statusbar_status .o_arrow_button:not(.disabled){
    background-color: #FFF;
    border-color: #FFF;
}
.btn-light:hover, .o_form_view .o_statusbar_status .o_arrow_button:hover:not(.disabled), .o_legacy_form_view .o_statusbar_status .o_arrow_button:hover:not(.disabled){
    background-color: #f6f7fa;
    border-color: #f6f7fa;
    color: #000;
}
.o_searchview_facet .o_searchview_facet_label{
    background: #714b67 !important;
}
.o_searchview_facet .o_facet_values{
    border: 1px solid #714b67 !important;
}
.o_list_renderer .o_list_table thead{
    background-color: #fff;
}
.o_list_renderer .o_list_table thead th:not(.o_list_record_selector){
    border-left: 0;
}
.btn-link{
    color: #01666b;
}
.btn-link:hover{
    color: #01575b;
}
.o_list_renderer .o_list_table tfoot{
    background-color: #fff;
}
.o_pivot table.o_enable_linking .o_pivot_cell_value:not(.o_empty):hover, .o_pivot table.o_enable_linking .o_pivot_cell_value:not(.o_empty):focus, .o_pivot table.o_enable_linking .o_pivot_cell_value:not(.o_empty).focus{
    color: #01666b;
}
.o_field_statusbar > .o_statusbar_status > .o_arrow_button.o_arrow_button_current.disabled{
    background-color: #714B67;
}
.btn-outline-primary{
    color: #017e84;
    border-color: #017e84;
}
.btn-outline-primary:hover{
    background-color: #017e84;
    border-color: #017e84;
}
.o_form_view .o_form_uri > span:first-child{
    color: #01666b;
}
.o_form_view .o_form_uri > span:first-child:hover, .o_form_view .o_form_uri > span:first-child:focus, .o_form_view .o_form_uri > span:first-child.focus{
    color: #01575b;
}
.text-odoo{
    color: #714B67 !important;
}
.o_field_widget.o_field_many2one .o_external_button{
    color: #01575b;
}
.text-bg-primary{
    background-color: #714B67 !important;
}
.o_base_settings .o_setting_container .settings_tab .selected{
    box-shadow: inset 2px 0 0 #01575b;
}
.o_loading_indicator{
    background-color: #714B67;
}
.o_burger_menu{
    z-index: 1112;
}
.o_burger_menu .o_burger_menu_topbar{
    background-color: #714B67;
}
.o_burger_menu .o_burger_menu_content.o_burger_menu_dark{
    background-color: #714B67;
}
.o_burger_menu .o_burger_menu_topbar .bg-view .o_burger_menu_username,
.o_burger_menu .o_burger_menu_topbar .bg-view i{
    color: #4A4F59;
}
.o_web_client .o_mobile_search{
    z-index: 1112;
}
.o_web_client .o_mobile_search .o_mobile_search_header{
    background-color: #714B67;
}
.btn-check:checked + .btn-fill-primary, .btn-check:checked + .btn-primary, .btn-check:active + .btn-fill-primary, .btn-check:active + .btn-primary, .btn-fill-primary:active, .btn-primary:active, .btn-fill-primary.active, .active.btn-primary, .show > .btn-fill-primary.dropdown-toggle, .show > .dropdown-toggle.btn-primary{
    background-color: #016b70;
    border-color: #01656a;
}
.modal{
    z-index: 1111;
}
.o_main_navbar .o_menu_systray > * > a .badge, .o_main_navbar .o_menu_systray > * > .dropdown > a .badge, .o_main_navbar .o_menu_systray > * > button .badge, .o_main_navbar .o_menu_systray > * > label .badge{
    background-color: #016b70;
}
  
div.dropdown-menu.bootstrap-datetimepicker-widget{
    z-index: 1111;
}
body.o_web_client .o_mobile_search .o_mobile_search_header{
    background-color: #714b67;
}
@media (max-width: 767.9px){
    body .o_navbar_apps_menu.show .dropdown-menu > .container{
        max-width: 540px !important;
    }
    body .o_navbar_apps_menu.show .dropdown-menu{
        padding-top: 70px;
    }
    body .o_navbar_apps_menu.show .dropdown-menu > .container .col-sm-3{
        width: 25% !important;
        margin-bottom: 1rem;
    }
    .o_form_view .o_control_panel > div.o_cp_top{
        flex-flow: row;
    }
    .o_navbar_apps_menu .dropdown-menu-custom{
        padding-left: 50px;
        padding-right: 50px;
    }
    .o_ChatWindow{
        z-index: 1111;
    }
    .modal-backdrop{
        z-index: 1111;
    }
    .o_web_client .o_mobile_search{
        z-index: 1111 !important;
    }
}
@media (max-width: 575.9px){
    body .o_navbar_apps_menu.show .dropdown-menu > .container{
        max-width: 100% !important;
        padding-left: 16px;
        padding-right: 16px;
    }
    body .o_navbar_apps_menu.show .dropdown-menu > .container .col-sm-3{
        width: 33.33% !important;
    }
    .modal{
        z-index: 1112;
    }
    .modal.o_technical_modal.o_modal_full .modal-dialog .modal-content .modal-header{
        background: #714B67;
        padding: 0.3rem 1rem;
    } 
    .modal.o_technical_modal.o_modal_full .modal-dialog .modal-content .modal-header .btn{
        color: #fff;
    }
    .o_navbar_apps_menu .dropdown-menu-custom{
        padding-left: 0;
        padding-right: 0;
    }
}