.o_stock_picking_list {
    padding: 20px;
    background-color: var(--o-bg-content); /* Fondo dinámico */
    color: var(--o-text-color); /* Texto dinámico */
    min-height: 100vh;

    th {
        background: var(--dashboard_picking__table-th-bg, #423840);
        border-right: none;
        border-left: 1px solid #3c3f4c;
    }
}

.o_stock_picking_list .card {
    border-radius: 12px;
    overflow: hidden;
    background: var(--o-bg-secondary); /* Fondo secundario dinámico */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.o_stock_picking_list .card-header {
    background: linear-gradient(45deg, var(--dashboard_picking__card-header-inicial-bg, #714B67), var(--dashboard_picking__card-header-final-bg, adjust-color(#714B67, $saturation: -8%, $lightness: -4%)));
    font-weight: bold;
    font-size: 1.4rem;
    border-bottom: none;

    h5 {
        color: white;
    }
}

.o_stock_picking_list .badge {
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 12px;
    text-transform: capitalize;
    font-weight: bold;
}

.o_stock_picking_list .badge.bg-success {
    background-color: var(--o-brand-success);
    color: #000;
}

.o_stock_picking_list .badge.bg-warning {
    background-color: var(--o-brand-warning); /* Advertencia dinámica */
    color: #000;
}

.o_stock_picking_list .badge.bg-danger {
    background-color: var(--o-brand-danger); /* Error dinámico */
    color: var(--o-text-inverted);
}

.o_stock_picking_list .badge.bg-secondary {
    color: var(--o-text-inverted);
}

.o_stock_picking_list .table {
    margin: 0;
    border-collapse: collapse;
    font-size: 0.95rem;
    background-color: var(--o-bg-secondary); /* Fondo de la tabla */
    color: var(--o-text-color); /* Texto dinámico */
}

.o_stock_picking_list .table-hover tbody tr:hover {
    background-color: var(--o-bg-hover); /* Fondo al pasar el cursor */
    cursor: pointer;
}

.o_stock_picking_list .text-muted {
    color: var(--o-text-muted) !important; /* Texto tenue */
}